<div data-test-dummy-component ...attributes>
  <h2 class='title-2 mb-24' data-test-title>Welcome to Ember</h2>

  <img
    src={{import-asset '/illustrations/construction.png'}}
    alt=''
    role='presentation'
    data-test-illustration
  />
</div>